.side_nav {
    /* background: #000;
    width: 50%;
    height: 100%; */
    position: fixed;
    left: -100%;
    z-index: 1;
    top: 0;
    /* padding: 4.9rem 0;
    overflow-x: hidden;
    text-align: center; */
    transition: 0.7s;
}

.side_nav.active {
    left: 0;
}